In [ ]:
# 1° Questão

num1 = int(input("Digite um número inteiro: "))
num2 = int(input("Digite um número inteiro: "))
num3 = int(input("Digite um número inteiro: "))

numeros = [num1, num2, num3]

numeros.sort()

print("Números em ordem crescente:", numeros[0], numeros[1], numeros[2])

Digite um número inteiro: 8
Digite um número inteiro: 2
Digite um número inteiro: 6
Números em ordem crescente: 2 6 8

In [ ]:
# 2° Questão
for n in range(0,100):
  print(n,end=', ')
print("FIM")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, FIM

In [ ]:
# 3° Questão

nome = input("Qual é o seu nome? ")
print(f"Seja muito bem-vindo {nome}. ")

Qual é o seu nome? rodrigo do geras
Seja muito bem-vindo rodrigo do geras.

In [ ]:
# 4° Questão

def eh_primo(numero):
    if numero <= 1:
        return False
    for i in range(2, int(numero ** 0.5) + 1):
        if numero % i == 0:
            return False
    return True
print("Verificador de números primos.")

num = int(input("Digite um número: "))

if eh_primo(num):
    print("Número primo.")
else:
    print("Número não é primo.")

Verificador de números primos.
Digite um número: 11
Número primo.

In [3]:
# 5° Questão

n = int(input("Digite a quantidade de notas: "))
notas = [float(input()) for _ in range(n)]
media = sum(notas) / n

limite_superior = media * 1.10
limite_inferior = media * 0.90
acima_10 = sum(1 for nota in notas if nota > limite_superior)
abaixo_10 = sum(1 for nota in notas if nota < limite_inferior)


print(f"Média geral das notas: {media:.2f}\n")
print(f"Total de notas acima da média: {acima_10}")
print(f"Total de notas abaixo da média: {abaixo_10}")

Digite a quantidade de notas: 4
5
7
2
9
Média geral das notas: 5.75

Total de notas acima da média: 2
Total de notas abaixo da média: 2

In [ ]:
# 6° Questão

def inverter_string(texto):
  return texto[: : -1]

entrada = input("Digite uma string: ")
inverter = inverter_string(entrada)
print(inverter)

Digite uma string: rodrigO
Ogirdor

In [5]:
# 7° Questão

texto = input("Digite uma string: ")
char_antigo = input("Digite um caractere da string para ser substituìdo: ")
char_novo = input("Digite um novo caractere para substituir o antigo: ")

if len(char_antigo) != 1 or len(char_novo) != 1:
    print("Erro: os dois últimos valores devem ser um único caractere.")
else:
  resultado = texto.replace(char_antigo, char_novo)
print(resultado)

Digite uma string: maracatu
Digite um caractere da string para ser substituìdo: a
Digite um novo caractere para substituir o antigo: o
morocotu

In [7]:
# 8° Questão

texto = input("Digite uma string: ")
caractere = input("Digite um caractere: ")
if len(caractere) != 1:
    print("Erro: insira apenas um único caractere.")
else:
    indice = texto.find(caractere)
    print(indice)

Digite uma string: melancia
Digite um caractere: o
-1

In [8]:
# 9° Questão

x = int(input("Digite um número inteiro: "))
y = int(input("Digite outro número inteiro maior que o anterior: "))

inicio = min(x, y) + 1
fim = max(x, y)

for i in range(inicio, fim):
    if i % 5 == 2 or i % 5 == 3:
        print(i)

Digite um número inteiro: 5
Digite outro número inteiro maior que o anterior: 10
7
8

In [10]:
# 10° Questão


n = int(input("Digite a quantidade de números: "))
numeros = [int(input()) for _ in range(n)]

for num in reversed(numeros):
    print(f"Ordem reversa: {num}")

for num in sorted(numeros, reverse=True):
    print(f"Ordem decrescente: {num}")

Digite a quantidade de números: 3
56
23
45
Ordem reversa: 45
Ordem reversa: 23
Ordem reversa: 56
Ordem decrescente: 56
Ordem decrescente: 45
Ordem decrescente: 23